@import "~src/assets/css/variables";

.weather {
  &-city-name {
    font-size: 1.5em;
  }

  &-body {
    font-size: 15px !important;
  }

  &-footer {
    font-size: 15px !important;
  }
}


@media screen and (max-width: $sm_screen) {
  .weather  {
    &-date {
      font-size: 0.8em !important;
      text-align: center;
    }
  }
}