$sm_screen : 576px;
$md_screen : 768px;
$lg_screen : 992px;
$xl_screen : 1200px;

// colors 
$color-primary : #e96e50;
$color-white : #fff;
$color-body-bg : #fcfcfd;
$color-light-black : #3b3e3f;
$color-light-gray : #ecedee;
$color-shadow-gray : #eeeeee;
$color-error-red : #e41b4d;
$color-error-bg : #fdecf0;

$theme-colors: (
  "primary": $color-primary,
  "danger": $color-error-red,
  "secondary" : $color-light-black
);